
@media (max-width:430px)  {
    .women{
        background-position: 80%;
    }
    .women .text{
        width:40%;
        padding-left: 2rem;
    }
    .women .text h1{
        font-size: 3rem;
    }
    .icons{
        display: none;
    }
}
